body {
	background-color: #406cb2; 
}

h1 {
	text-align: center;
}

.wrapper {
	margin: 20%;
	padding: 1%
}

.body {
	width: 200px;
	height: 200px;
	border: solid 3px #72452d;
	background-color: #55634c;
	border-radius: 130px;	
}

.leftFin {
	width: 35px;
	height: 20px;
	border: solid 2px #72452d;
	border-radius: 12px;
	z-index: 1;
	position: relative;
	left: -29px;
	top: -100px;
	background-color: #55634c;
}
/* original brown used - #8e5a3e*/
#leftStripe {
	width: 36px;
	height: 5px;
	z-index: 1;
	position: relative;
	left: -1px;
	top: 8px;
	background-color: #72452d;
}

.rightFin {
	width: 35px;
	height: 20px;
	border: solid 2px #72452d;
	border-radius: 12px;
	z-index: 1;
	position: relative;
	left: 197px;
	top: -127px;
	background-color: #55634c;
}

#rightStripe {
	width: 36px;
	height: 5px;
	z-index: 1;
	position: relative;
	left: 0px;
	top: 8px;
	background-color: #72452d;
}

.leftEye {
	width: 28px;
	height: 38px;
	border: solid 2px black;
	border-radius: 32px;
	z-index: 1;
	position: relative;
	left: 38px;
	top: -170px;
	background-color: white;
}

#leftPupil {
	width: 7px;
	height: 7px;
	border: solid 1px black;
	border-radius: 9px;
	z-index: 1;
	position: relative;
	left: 9px;
	top: 15px;
	background-color: black; 
}

.rightEye {
	width: 28px;
	height: 38px;
	border: solid 2px black;
	border-radius: 32px;
	z-index: 1;
	position: relative;
	left: 139px;
	top: -210px;
	background-color: white;
}
#rightPupil {
	width: 7px;
	height: 7px;
	border: solid 1px black;
	border-radius: 9px;
	z-index: 1;
	position: relative;
	left: 9px;
	top: 14px;
	background-color: black; 
}

.mouth {
	width: 10px;
	height: 20px;
	border: solid 2px black;
	border-radius: 9px;
	position: relative;
	left: 96px;
	top: -180px;
	background-color: #cc6363; 
}

.arrowUp {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 10%;
	top: -380px;
}

.puffArrow1 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 5.8%;
	top: -433px;
	transform: rotate(340deg)
}

.puffArrow2 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 2%;
	top: -438px;
	transform: rotate(328deg)
}

.puffArrow3 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 0%;
	top: -441px;
	transform: rotate(315deg)
}

.puffArrow4 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: -2%;
	top: -439px;
	transform: rotate(293deg)
}

.puffArrow5 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: -3%;
	top: -432px;
	transform: rotate(280deg)
}

.puffArrow6 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: -3.5%;
	top: -423px;
	transform: rotate(270deg)
}

.puffArrow7 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: -3%;
	top: -417px;
	transform: rotate(250deg)
}

.puffArrow8 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: -1.3%;
	top: -409px;
	transform: rotate(240deg)
}

.puffArrow9 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: .7%;
	top: -410px;
	transform: rotate(225deg)
}

.puffArrow10 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 4%;
	top: -411px;
	transform: rotate(209deg)
}

.puffArrow11 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 7.5%;
	top: -421px;
	transform: rotate(191deg)
}

.puffArrow12 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 11%;
	top: -440px;
	transform: rotate(175deg)
}

.puffArrow13 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 15%;
	top: -465.5px;
	transform: rotate(160deg)
}

.puffArrow14 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 17.5%;
	top: -495px;
	transform: rotate(150deg)
}

.puffArrow15 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 19.8%;
	top: -532px;
	transform: rotate(135deg)
}

.puffArrow16 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 22%;
	top: -575px;
	transform: rotate(121deg)
}

.puffArrow17 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 23%;
	top: -618px;
	transform: rotate(108deg)
}

.puffArrow18 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 24%;
	top: -663px;
	transform: rotate(85deg)
}

.puffArrow19 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 23.3%;
	top: -710px;
	transform: rotate(77deg)
}

.puffArrow20 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 22.5%;
	top: -752px;
	transform: rotate(65deg)
}

.puffArrow21 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 21.5%;
	top: -793px;
	transform: rotate(50deg)
}

.puffArrow22 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 19.2%;
	top: -832px;
	transform: rotate(40deg)
}

.puffArrow23 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 16%;
	top: -868px;
	transform: rotate(25deg)
}

.puffArrow24 {
	width: 0px;
	height: 0px;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	border-bottom: solid 20px #72452d;
	position: relative;
	left: 13%;
	top: -899px;
	transform: rotate(15deg)
}



















